body {
  background: rgb(51, 32, 57)3)(200, 0, 255);
}
a {
  color: red;
}

.link {
  color: blue;
}

.active {
  font-style: italic;
}

.spacer {
  display: flex;
  font-display: column;
}

.container {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  margin: auto;
  outline: solid 1px;
  border-radius: 50%;
  animation: 3s ease-in 1s infinite reverse both running slidein;
}

.spacer {
}
